.custom-button{
    width : 15rem;
    background: #393939;
    border : 0;
    height: 3rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
    font-family: 'Artifika', serif;    
    font-weight: 100;
    &.google{
        background-color: #4285f4;
        color: white;
        margin: 1rem;
        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }
    &.small{
        width: 10rem;
        height: 4rem;
        border-radius: 0;
        font-size : 1rem;
        padding: 1.5rem;
    }
    &.highlight{
        background: #FF5909;
        &:hover {
            border: none;
            outline: none;
        }
    }
}