.search-data__notfound{
    display : flex;
    margin: 0;
    padding: 1rem;
    color : white;
    font-family: 'Artifika', serif;    
    font-weight: 100;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
}