.collection-item{
    width : 11rem;
    margin-right: 1rem;
    animation: upwards 1000ms 1s ease-in;

    &.collection-category{
        margin-top: 1rem;
        animation: none;
    }

    .image{
    height : 18rem;
    width : 11rem;
    background-position: center;
    background-size: cover; 
    border : 1px solid grey;
    }
    

    @keyframes upwards {
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }        
    }
    

}