.sign-in{
    .sign-in__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }
    .sign-in__desp{
        color : #393939;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 2rem ;
    }
}