.audio-player{
    height: 100vh;
    width: 100%;
    background: #FF5A09;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius : 10% 10% 0% 0%;
    border : 1px solid wheat;
    position: absolute;
    top: 0;
    z-index : 100;
    animation: move-upwards 300ms 0.00001s 1 ease-in;
    

    .close-btn{
        font-size: 2.5rem;
        margin: 1rem;
        margin-bottom: 3rem;
        background: transparent;
        border: 0;
        color: #393939;
        animation: wiggle 300ms 1s 8 forwards;
    }
    @keyframes wiggle {
        0%{
            transform: rotateZ(0);
          }
        50%{
            transform: rotateZ(-10deg);
          }
        100%{
            transform: rotateZ(10deg);
        } 
    }

    .audio-player__image{
        height : 16rem;
        width: 16rem;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        animation : rotate 3s linear infinite;
        animation-play-state: paused;
        position: relative;
        &.image-rotate{
            animation-play-state: running;
        }
    }
    .dot{
        height : 2rem;
        width :  2rem;
        background: #FF5A09;
        border-radius : 50%;
        position: absolute;
        left : 7rem;
        bottom: 7rem;
        margin: 0;
        padding: 0;
    }
    @keyframes rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    
    .audio-player__progress-container{
        background: #393939;
        border-radius: 0.3rem;
        cursor : pointer;
        margin : 4rem 0;
        height : 0.3rem;
        width: 90%;
        
        .progress{
            background: white;
            border-radius: 0.3rem;
            height: 100%;
            width: 0%;
            transition: width 0.1s linear;
        }
    }
    
    
    
    
    .audio-player__title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .audio-player__navigation{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .action-btn{
            background: transparent;
            border: 0;
            color : #393939;
            font-size : 1.3rem;
            cursor: pointer;
            padding: 0.7rem;
            margin: 0 1.2rem;

           
            &:hover {
                outline: 0;
                border: 0;
                background: transparent;
            }

            &.action-btn-big{
                color: #393939;
                font-size: 2rem;
            }
        }
       
        
        
    }
    


   

}
@keyframes move-upwards {
    0%{
        transform: translateY(100%)
      }
    25%{
        transform: translateY(75%);
    }
    50%{
        transform: translateY(50%)
      }
    75%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0%)
    } 
}


