.category{
    display: flex;
    flex-direction: column;
    .category-name{
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
        color : white;
        margin-top : 1rem;
    }

    .category-books{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

}