.category{
    display: flex;
    flex-direction: column;
    padding-top : 4rem;
    .category-name{
        font-family: 'Black Ops One', cursive;
        font-weight: 200;
        font-size: 2rem;
        text-align: center;
        color : white;
        margin-top : 1rem;
    }
}