.book-info__head-fav{
    background: transparent;
    color: white;
    outline: none;
    border: 0;
    margin-top: 3rem;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 2rem;

    &.change-color{
        color : red;
    }

}