.signin-signup{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem ;
    /*
    .app-logo{
        background: url('../../assests/logo192.png');
        height: 13vh;
        width: 24vw;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 2rem;
        background-size: cover;
    }*/
}



