.header{
    height : 4rem;
    background: #FF5909;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0.5rem;
    width: 100%;
    z-index : 10;
    .header-title{
        color : #393939;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .header-favourites{
        background: transparent;
        color : #393939;
        height : 3rem;
        margin : 0;
        padding: 0;
        width: 3rem;
        outline: none;
        border: none;
        font-size: 2.5rem;
    }
    .header-logout{
        color: #FF5909;
        background: #393939;
        padding: 0.4rem;
        text-decoration : none;
        border-radius: 0.5rem ;
    }

}