.header{
    height : 4rem;
    background: #FF5909;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0.5rem;
    width: 100%;
    position: fixed;
    .header-title{
        color : #393939;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .header-logout{
        color: #FF5909;
        background: #393939;
        padding: 0.4rem;
        text-decoration : none;
        border-radius: 0.5rem ;
    }

}