.favourites-display{
    display: flex;
    flex-direction: column;

    .title{
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
        color : white;
        margin-top : 1rem;
    }
}