.auth-container{
    .auth-container__buttons{
        display: flex;
        justify-content: center;
        width: 20rem;
    }

    
    .auth-container__form{
        width : 20rem;
        background: #FF5909;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.4rem;
    }
}