.auth-container{
    margin-bottom: 4rem;
    margin-top: 2rem;

    .auth-container__buttons{
        display: flex;
        justify-content: center;
        width: 20rem;

        button{
            width : 10rem;
        }
    }

    
    .auth-container__form{
        height : 50vh;
        width : 20rem;
        background: #FF5909;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}